h1 Please Login
form
  .form-control
    input(type="email", required) 
    label Email
  .form-control
    input(type="password", required) 
    label Password

  button.btn Login

  p.text Don't have an account? 
    a(href="#") Register